html {
  scroll-behavior: smooth;
}
header{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.3);
	z-index: 9;
}
body{
	margin: 0px;
	padding: 0px;
	padding-top: 100px;
	background: #222;
	font-family: 'Work Sans', sans-serif;
}

section{
  clear: both;
  margin-bottom: 70px;
}
.row{
	clear: both;
	margin: 0px 10px;
}
.col-50{
/*General classes*/
  width: 50%;
  display: inline;
  float: left;
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.img-parent {
    width: 100%;
    height: 100%;
}
.img-parent img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
a{
	text-decoration: none !important;
}

.parallax {
    /* The image used */
    background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



    position: relative;
}
.parallax>div{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
.bg-fade{
	background-color: rgba(230,230,230, 0.6);
}
.bg-fade-content{
	padding: 5px;
}
/*Navbar area*/
.container {
	width: 100%;
	margin: 0 auto;
}


.logo {
  float: left;
  padding: 0px;
}

nav {
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color:#FFF00	;
}

}


/*Description area*/
.sec-dec img{
  float: left;

}

.des-contenet{
	margin: 16px 0px;
}
/*About area*/
.head-about{
  font-size: 35px;
  color: black;
  text-align: left;
}
.paragrah-about{
  text-align: left;
  font-size: 30px;
  font-style: normal;
}
.photo-about{
  display: block;
}

/*Team area*/
.team-member {
	width: 200px;
	height: 200px;
	margin: 10px;
}
.team-member {
	position: relative;
}
.team-member img {
	border-radius: 10px;
}
.team-links{
	padding: 3px;
	background-color: rgba(0,0,0,0);
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	display: none;
	opacity: 0;
}
.team-member:hover .team-links{
	display: inherit;
	opacity: 1;
}
.team-member-name{
	text-align: center;
}
.team-member-name>span{
	font-style: italic;
	color: gray;
}
.team-member:hover .team-member-name>span{
	font-weight: bold;
}
.fa{
	width: 20px;
	height: 20px;
	background-size: contain;
	display: inline-block;
}
.fa:after{
	content: " ";
}
.fa-github{
	background-image: url(../img/icon/github.png);
}
.fa-codewars{
	background-image: url(../img/icon/codewars.png);
}
.fa-linkedin{
	background-image: url(../img/icon/in.png);
}
/*Contact us area*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div-cont{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/*Footer us area*/
.container1{
  background-color: black;
  margin: 0;
  width: 1400px;
  height: 100px;
  color:white;
}
#para{
  direction: rtl;
}
